@page "/about"

<h3>Sobre el proyecto</h3>

<b>Autor:</b> Javier Álvarez Cuevas
<br /><br />
<b>Año:</b> 2022
<br /><br />
<b>Grado:</b> Grado Superior de Desarrollo de Aplicaciones Multiplataforma
<br /><br />
<b>Centro:</b> I.E.S. Trassierra
<br /><br />
<a class="btn btn-primary btn-lg" href="https://github.com/javieralvarezcu" role="button">GitHub del creador &raquo;</a>
<br /><br />
<b>Agradecimientos:</b>
<br />
<br />
<i>A mis compañeros de prácticas:</i>
<br />
Mis chavales de frontend:
<br />
<ul>
  <li>Carlos</li>
  <li>Alberto</li>
  <li>Ángel</li>
</ul>  
<br />
Mis chavales de git:
<br />
<ul>
  <li>Sergio</li>
  <li>Miguel</li>
</ul>  
<br />
Mis chavales de backend:
<ul>
  <li>Selma</li>
  <li>Nico</li>
</ul>  
<br />
Mis chavales de Android (y bocadillos):
<br />
<ul>
  <li>Dani</li>
  <li>Mario</li>
</ul>  
<br />
<i>Al equipo de .NET de atmira:</i>
<br />
<ul>
  <li>Sara</li>
  <li>Ismael</li>
  <li>Aitor</li>
</ul> 
<br />
<i>A mis profesores del grado:</i>
<br />
<ul>
  <li>Anabel</li>
  <li>Miriam</li>
  <li>Javi</li>
  <li>Manuel</li>
  <li>Jose Luis</li>
</ul> 
<br />
<i>En especial a la profesora que me enseñó la tecnología en la que me estoy especializando:</i>
<br />
<ul>
  <li>Elisa</li>
</ul> 
<br />
<br />
<i>Y a cualquier persona que se haya involucrado en mi proceso de aprendizaje como programador. Muchas gracias.</i>
<br />
<br />
<img src="assets/MisChavalesDeAtmira.png" class="w-50">
<br /><br />
Contacta con el creador en caso de tener cualquier duda:<br />
<a class="btn btn-primary btn-lg" href="https://github.com/javieralvarezcu" role="button">GitHub del creador &raquo;</a>


@code {

}
