@page "/help"

<h1>Ayuda</h1><br />

<h3>Registro o inicio de sesión</h3><br />
Lo primero que debemos hacer para poder usar la aplicación sin restricciones es autenticarnos, ya sea registrándonos si no tenemos un usuario creado o iniciando sesión si ya estamos registrados.<br />
<img src="assets/help/1.png" class="w-75"/><br />
Una vez identificados como médico o como paciente podremos acceder a los diferentes apartados de la aplicación <br />
<img src="assets/help/2.png" class="w-75"/><br /><br />
<br /><h3>Como médico...</h3>
Podremos acceder a la lista de citas que los pacientes nos han solicitado y podremos aceptarlas, cancelarlas o directamente eliminarlas.<br />
<img src="assets/help/3.png" class="w-75"/><br />
También podremos abrir o crear nuevas conversaciones con pacientes.<br />
<img src="assets/help/4.png" class="w-75"/><br /><br />
<br /><h3>Como paciente...</h3>
Podremos solicitar, editar y borrar citas a los diferentes médicos según su especialidad. Las citas solo serán editables si su estado es pendiente.<br />
<img src="assets/help/5.png" class="w-75"/><br />
<img src="assets/help/6.png" class="w-75"/><br />
También podremos abrir o crear nuevas conversaciones con médicos.<br />
<img src="assets/help/7.png" class="w-75"/><br /><br />

<br /><h3>Datos personales</h3>
También podremos editar todos los datos personales de nuestra cuenta (los respectivos a cada rol: médico o paciente) pinchando en nuestro nombre de usuario en la barra superior<br />
<img src="assets/help/8.png" class="w-75"/><br /><br />

Contacta con el creador en caso de tener cualquier duda:<br />
<a class="btn btn-primary btn-lg" href="https://github.com/javieralvarezcu" role="button">GitHub del creador &raquo;</a>
@code {

}
