<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7422c662-9eb0-47b3-881d-5572b6ff8bfd/resourceGroups/ClinicaVistaalegreGroup/providers/Microsoft.Web/sites/ClinicaVistaalegre</ResourceId>
    <ResourceGroup>ClinicaVistaalegreGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/7422c662-9eb0-47b3-881d-5572b6ff8bfd/resourceGroups/ClinicaVistaalegreGroup/providers/Microsoft.ApiManagement/service/ClinicaVistaalegreServerapi/apis/ClinicaVistaalegreServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://clinicavistaalegre.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e7a48b0a-a753-4122-8819-47c033ce674a</ProjectGuid>
    <MSDeployServiceURL>clinicavistaalegre.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ClinicaVistaalegre</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ClinicaVistaalegre</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>