@page "/creacitas"
@inject HttpClient Http
@inject NavigationManager NavMan
@attribute [Authorize(Roles = "Paciente")]


<PageTitle>Citas</PageTitle>

<h1>Solicitar cita</h1>

<FormularioCita TextoBoton="Solicitar cita" CitaChanged="@CrearCita" Cita="@cita"/>

@code {
    Cita cita = new Cita();

    async Task CrearCita(){
        HttpResponseMessage mensaje = await Http.PostAsJsonAsync("api/Citas", cita);

        if (mensaje.IsSuccessStatusCode)
        {
            NavMan.NavigateTo("fetchcitas");
        }

    }
}
