@page "/updatecitas/{CitaId:int}"
@using System.Net.Http.Json
@using ClinicaVistaalegre.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavMan

<PageTitle>Citas</PageTitle>

<h1>Editar cita</h1>

<FormularioCita TextoBoton="Editar cita" CitaChanged="@EditarCita" Cita="@cita"/>

@code {
    [Parameter] public int CitaId { get; set; }
    Cita cita = new Cita();

    async Task EditarCita()
    {
        HttpResponseMessage mensaje = await Http.PutAsJsonAsync($"api/Citas/{CitaId}", cita);

        if (mensaje.IsSuccessStatusCode)
        {
            NavMan.NavigateTo("fetchcitas");
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        cita = await Http.GetFromJsonAsync<Cita>($"api/Citas/{CitaId}");
    }

}